@{
    ViewBag.Title = "Home Page";
}



<link type="text/css" href="~/Dist/app.css" rel="stylesheet" />

<div id="app" style="height: 100%"></div>

<script type="text/javascript" src="~/Dist/vendor.js"></script>
<script type="text/javascript" src="~/Dist/app.js"></script>



