@{
    ViewBag.Title = "Home Page";
}
@model Weather.Models.WebpackSetting


<link type="text/css" href='@Url.Content("~/Dist" + Model.App.Css)' rel="stylesheet" />

<div id="app" style="height: 100%"></div>

<script type="text/javascript" src='@Url.Content("~/Dist"+ Model.Vendor.Js)'></script>
<script type="text/javascript" src='@Url.Content("~/Dist"+ Model.App.Js)'></script>



