
.weatherSearchContainer {
    margin-top: 50px;
}

.searchToolbar {
    margin-bottom: 20px ;
}

.searchToolbar .countryName,.cityName {
    width: 100%;
}

.searchToolbar .errorMessage{
    color: red;
}
